<div class="container">
  <div class="profile-container">
    <div class="profile-image-container">
      <div class="profile-image" alt="Profile Image">
        <img [src]="profileImageUrl"/>
      </div>     
      <p-button *ngIf="showButtonImage" class="change-image-button p-button-icon-only" (click)="changeProfileImage()">
        <i class="pi pi-camera"></i>
      </p-button> 
      <div>
      <p-dialog header="Subir imagen" [(visible)]="displayImageUploadDialog">
        <p-fileUpload name="photo" url="{{profileImageUrlPost}}" accept="image/png" (onUpload)="handleUpload()"></p-fileUpload>
      </p-dialog>
    </div>
    </div>
    <div class="profile-info">
      <h2>Información de perfil</h2>
      <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <div>
          <div class="grid-container">
            <label>Role:</label>
            <input type="text" placeholder="Rol" formControlName="role" pInputText>
          </div>
          <div class="grid-container">
            <label>Email:</label>
            <input type="email" placeholder="Email" formControlName="email" pInputText>
          </div>
          <div class="grid-container">
            <label>Name:</label>
            <input type="text" placeholder="Nombre" formControlName="name" pInputText>
          </div>
          <div class="grid-container">
            <label>Lastname:</label>
            <input type="text" placeholder="Apellido" formControlName="lastName" pInputText>
          </div>
          <div class="grid-container">
            <label>PhoneNumber:</label>
            <input type="text" placeholder="Teléfono" formControlName="phoneNumber" pInputText>
          </div>
          <div class="grid-container">
            <label>ProfileType:</label>
            <p-dropdown [options]="profileTypeOptions" formControlName="profileType"></p-dropdown> 
          </div>
          <div class="grid-container">
            <label>ProfileUpdateDate:</label>
            <input type="text" placeholder="ProfileUpdateDate" formControlName="profileUpdateDate" pInputText>
          </div>
          <div class="grid-container">
            <label>NotificationsEnable:</label>
            <input type="checkbox" formControlName="notificationsEnable" pCheckbox>
          </div>
        </div>
        <p-button *ngIf="showButtonSubmit" label="Submit" type="submit" [disabled]="!this.profileForm.valid"></p-button>
      </form>
    </div>
  </div>
</div>

